.popular-movies-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
  }
  
  .populer-movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  @media (max-width: 1071px) {
    .popular-movies-container {
      width: 90%;
    }
  }
  
  @media (max-width: 785px) {
    .popular-movies-container {
      width: 100%;
    }
  }
  